<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. C/C++
8. JavaScript

<b>Objectives:</b>
- Python
- R
- SQL
- Java
- Julia

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib
6. SciKit-Learn
7. PyTorch
8. Scrapy
9. BeautifulSoup

|Data Science Tools|
------------
|SAS|
|Apache Spark|
|Big ML|
|Jupyte|

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
Minutes = 200
print('200 minutes in hours is =',200/60)

200 minutes in hours is = 3.3333333333333335

<h2>Author</h2>
Sahil